__pycache__/
*.py[cod]
*.pyd

.vscode/
.ipynb_checkpoints/

logs/
log/
outputs/
output/
results/
result/

dataset*/

*.npy
*.npz
*.pt
*.pth

*.tmp
*.swp
*~

*.egg-info/
.env/

uq_config.json

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

.DS_Store
Thumbs.db
